@model string

<div class="button-head">
    <div class="btn btn-sm btn-success m-2" data-masp="@Model" onclick="shop_now(event.currentTarget)">Mua ngay</div>
    <div class="btn btn-sm btn-success m-2" id="@Model" onclick="add_to_cart(event.currentTarget)"><i class="fa fa-shopping-cart"></i></div>

</div>
