@model IEnumerable<TN218.Models.SanPham>
@using TN218.Models;
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="product-area section pt-3">
    <div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h2>Kết quả cho: @ViewData["key"]</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="product-info">
					<div class="tab-content" id="myTabContent">
						<partial name="_Product_Fillter" model="Model"/>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
@{List<SanPham> list = ViewData["hot_items"] as List<SanPham>;}
@*<partial name="_Hot_Items" model="list.Take(8)"/>*@