<section class="hero-slider">
	<div class="single-slider">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-lg-9 offset-lg-3 col-12">
					<div class="text-inner">
						<div class="row">
							<div class="col-lg-7 col-12">
								<div class="hero-text">
									@*<h1><span>TỰ HÀO ĐỒNG HÀNH CÙNG NHÀ NÔNG</span>AN BÌNH STORE</h1>
									<p class="text-light">Sản phẩm chính hãng, chất lượng cho mọi nhà!</p>
									<div class="button">
									<a href="#product_session" class="btn">Khám phá ngay!</a>
									</div>*@
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>