@model List<TN218.Models.SanPham>
@using TN218.Models
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Html.PartialAsync("_Banner")
<!-- Start Product Area -->
<div class="product-area section" id="product_section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Sản phẩm nổi bật</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="product-info">
                    <div class="nav-main">
                        <!-- Tab Nav -->
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="0" onclick="get_prd_by_cat(event.currentTarget);">
                                    Tất cả
                                </a>
                            </li>
                            @foreach (var loaiSP in ViewBag.Loai)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" id="@loaiSP.MaLoaiSp" onclick="get_prd_by_cat(event.currentTarget);">
                                        @loaiSP.TenLoaiSp
                                    </a>
                                </li>
                            }
                        </ul>
                        <!--/ End Tab Nav -->
                    </div>


                    <div class="tab-content" id="myTabContent">
                        <!-- Start Single Tab -->
                        <partial name="_Product_Fillter" model="Model" />
                        <!--/ End Single Tab -->
                    </div>

                    <script>
                        function get_prd_by_cat(e) {
                            $('.nav-link').each((index, value) => {
                                if (value.id == e.id) {
                                    e.classList.add("active")
                                } else {
                                    value.classList.remove("active")
                                }
                            })
                            $.ajax({
                                type: 'POST',
                                url: '/Product/Get_by_cate',
                                data: { maloai: e.id }
                            }).done((data) => {
                                $('#myTabContent').html(data);
                            })
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Product Area -->

<partial name="_Hot_Items" model="Model" />



