
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS FILES -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/bootstrap-icons.css" rel="stylesheet">
    <link href="~/css/templatemo-kind-heart-charity.css" rel="stylesheet">

</head>
<body id="section_1">
    <main>
        <section class="hero-section hero-section-full-height">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-12 col-12 p-0">
                        <div id="hero-slide" class="carousel carousel-fade slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="~/images/Hinh0.jpg"
                                         class="carousel-image img-fluid" alt="...">

                                    <div class="carousel-caption d-flex flex-column justify-content-end">
                                        <h1>Món Ngon</h1>

                                        <p>Thức ăn nhanh đầy đủ dinh dưỡng</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-10 col-12 text-center mx-auto">
                        <h2 class="mb-5">Chào mừng bạn đến với Fast food shop</h2>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                        <div class="featured-block d-flex justify-content-center align-items-center">
                            <a href="/Product/Detail?MaSp=46" class="d-block">
                                <img src="~/images/product/hamburger-bo.png" class="featured-block-image img-fluid" alt="">

                                <p class="featured-block-text"><strong>Hamburger</strong></p>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                        <div class="featured-block d-flex justify-content-center align-items-center">
                            <a href="/Product/Detail?MaSp=1" class="d-block">
                                <img src="~/images/product/mi-cay.png" class="featured-block-image img-fluid" alt="">

                                <p class="featured-block-text"><strong>Mì cay</strong></p>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                        <div class="featured-block d-flex justify-content-center align-items-center">
                            <a href="/Product/Detail?MaSp=10" class="d-block">
                                <img src="~/images/product/ga-hap-bia.png" class="featured-block-image img-fluid" alt="">

                                <p class="featured-block-text"><strong>Gà hấp bia</strong></p>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                        <div class="featured-block d-flex justify-content-center align-items-center">
                            <a href="/Product/Detail?MaSp=39" class="d-block">
                                <img src="~/images/product/banh-mi-nuong-muoi-ot.png" class="featured-block-image img-fluid" alt="">

                                <p class="featured-block-text"><strong>Bánh mì nướng muối ớt</strong> </p>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="section-padding section-bg" id="section_2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                        <img src="~/images/product/hamburger-bo.png"
                             class="custom-text-box-image img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="custom-text-box">
                            <h2 class="mb-2">Đơn Hàng</h2>

                            <h5 class="mb-3">Đơn hàng của bạn sẽ được bảo quản như thế nào?</h5>

                            <p class="mb-0">
                                sẽ bảo quản đơn của bạn bằng túi & thùng để chống nắng mưa, giữ nhiệt... trên đường đi một cách tốt nhất.
                            </p>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="custom-text-box mb-lg-0">
                                    <h5 class="mb-3">Thức Ăn </h5>
                                    <p>Của Chúng tôi luôn sẵn sàng hợp tác với các nhà hàng, quán ăn, cafe... để mở rộng kinh doanh cũng như gia tăng khách hàng.</p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="volunteer-section section-padding" id="section_4">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-10">
                        <h2 class="text-white ">Tại Sao Nên Lựa Chọn Thức ăn Nhanh Từ Cửa Hàng</h2>

                        <form class="custom-form volunteer-form mb-5 mb-lg-0">
                            <li <p> NHANH NHẤT </p> Cung cấp dịch vụ giao đồ ăn nhanh nhất thị trường.</li>
                            <li <p> DỄ DÀNG NHẤT </p> Giờ đây, bạn chỉ cần thực hiện vài cú nhấp chuột hoặc chạm nhẹ là đã có thể đặt đồ ăn của
                                    chúng tôi để có trải nghiệm nhanh hơn và thú vị hơn.</li>
                            <li <p> THANH TOÁN DỄ DÀNG </p> Giao và nhận đồ ăn thật dễ dàng. Thanh toán bằng Tài Khoản Ngân Hàng thậm chí còn dễ dàng hơn nữa.</li>
                            <li <p> ĐÁP ỨNG MỌI YÊU CẦU</p> Từ món ăn đặc sản địa phương đến các nhà hàng được ưa thích,
                                    nhiều lựa chọn đa dạng chắc chắn sẽ luôn làm hài lòng khẩu vị của bạn.</li>
                            <li <p> NHIỀU QUÀ TẶNG HẤP DẪN </p> Tích điểm cho mỗi đơn hàng của bạn và sử dụng điểm thưởng để đổi lấy nhiều ưu đãi hơn.</li>
                        </form>
                    </div>

                    <div class="col-lg-6 col-12">
                        <img src="~/images/Hinh1.jpg"
                             class="volunteer-image img-fluid" alt="">

                        <div class="custom-block-body text-center">
                            <h4 class="text-white mt-lg-3 mb-lg-3">Vậy Nên Lựa Chọn Cửa Hàng Thức Ăn Nhanh Cửa Chúng Tôi là Sự Lựa Chọn Đúng Đắn</h4>
                        </div>
                    </div>

                </div>
            </div>
        </section>



        <section class="testimonial-section section-padding section-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-12 mx-auto">
                        <h2 class="mb-lg-3">Lời Cảm Ơn</h2>
                        <div id="testimonial-carousel" class="carousel carousel-fade slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="carousel-caption">
                                        <h4 class="carousel-title">
                                            Với triết lý kinh doanh đặt khách hàng là trọng tâm,
                                            chúng tôi xin hứa sẽ không ngừng cải thiện để nâng cao chất lượng sản phẩm, dịch vụ,
                                            mang đến cho Quý khách hàng những trải nghiệm mua sắm tốt nhất để đáp lại sự tin tưởng của bạn dành cho chúng tôi.
                                            Hy vọng trong thời gian sắp tới, chúng tôi sẽ tiếp tục nhận được sự tin tưởng của bạn
                                        </h4>
                                        <small class="carousel-name">
                                            <span class="carousel-name-title">CẢM ƠN</span>,
                                            QUÝ KHÁCH RẤT NHIỀU.
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </main>

    <!-- JAVASCRIPT FILES -->
    <script src="~/js/jquery2.min.js"></script>
    <script src="~/js/bootstrap2.min.js"></script>
</body>

</html>